---
import Layout from "../layouts/Layout.astro";
---
<Layout title="404">
  <main class="max-w-lg m-auto min-h-screen grid place-content-center text-center">
    <h1 class="text-4xl font-black mb-4">Oh, vaya. ¡Lo has roto!</h1>
    <img src="https://midu.dev/images/this-is-fine-404.gif" />
    <a href="/" class="text-blue-500 hover:underline">Volver al inicio</a>
  </main>
</Layout>