---
import Layout from "../layouts/Layout.astro";
import Title from "../components/Title.astro";
import ListOfMovies from "../components/ListOfMovies.astro";
---
<Layout title="Movies">
	<main class="m-auto max-w-xl">
		<Title />
		<ListOfMovies />
	</main>
</Layout>