---
import MovieItem from "./MovieItem.astro";
import { searchByTitle } from "../api/movies.js";

const { title } = Astro.props;

const movies = await searchByTitle(title);
---

<section
  class="grid grid-cols-1 justify-items-center md:grid-cols-2 lg:grid-cols-3 gap-5 px-4"
>
  {
    movies &&
      movies.map(({ _id, title, poster }) => {
        return (
          <figure>
            <MovieItem _id={_id} title={title} poster={poster} />
          </figure>
        );
      })
  }
  {
    movies === "undefined" && (
      <p class="absolute mt-[50px] text-xl font-light text-black/70">
        No Movies Found
      </p>
    )
  }
</section>
