---
export interface Props {
  _id: string;
  title: string;
  poster: string;
}

const { _id, title, poster } = Astro.props;
---

<a
  class="hover:scale-105 inline-block transition-all hover:contrast-125 hover:shadow-2xl"
  href={`/${_id}`}
>
  <img
    alt={`Portada de la pelicula ${title}`}
    class="object-cover aspect-[520/804] rounded"
    src={poster}
    style={`view-transition-name: movie-${_id}`}
  />
</a>
